<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel='stylesheet' href='/stylesheets/agenda_updated.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet">
    <script src="/javascripts/timer.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 home-page">
            <div class="title">

                <div style="margin-bottom: 55px;">
                    <h1>Panel Discussion Event</h1>
                </div>

                <div> 
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                </div>
                
                <div class="text-center">
                    <button class="lobby_button">Go to lobby <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 10px;"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 intro_page">
            <div class="col-lg-7">
                <img src="\images\people.jpg" width="100%" height="100%">
            </div>
            <div class="col-lg-5">
                <div class="intro">
                    <h1>Welcome!</h1>
                    <div style="margin-top:70px;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div style="margin-top:40px; text-transform: uppercase; ">
                        <h3 style="font-weight: bolder;">John Doe/Jena Doe</h3>  
                        host of this event
                    </div>

                    <img style="margin-top:50px" src="\images\iiclogo.jpg" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>