<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VTour</title>
        <link rel='stylesheet' href='/stylesheets/demo_page.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
            integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet">
        <script src="/javascripts/timer.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
        <!-- slick slider -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
        <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1024px)" href="/stylesheets/agenda_page_2_mobile.css" />
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </head>
<body>
    <div class="container-fluid" style="padding: 0;">
        <div class="col-lg-12" style="padding: 0;">
            <div class="main-screen">
                <div style="height: auto; border: 1px solid;">
                    <p>Ultimate virtualised Platform with Seamless Cross Devices/Platform integration</p>
                    <button>Request A Demo</button>
                    <button>Affiliates</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 0;">
        <div class="col-lg-12" style="padding: 0;">

            <div class="section_2 text-center">
                    <p>What Can Vtour Host For You</p>
            </div>

            <div class="icon_holder">
                <div class="col-lg-2 icon">
                    <img src="/images/demo_page/townhall.png">
                    <p>Townhall</p>
                </div>
                <div class="col-lg-2 icon"><img src="/images/demo_page/product.png"><p>Product Launch</p></div>
                <div class="col-lg-2 icon"><img src="/images/demo_page/panel.png"><p>Panel Discussion</p></div>
                <div class="col-lg-2 icon"><img src="/images/demo_page/conference.png"><p>conference</p></div>
                <div class="col-lg-2 icon"><img src="/images/demo_page/event.png"><p>Customised Event</p></div>
                <div class="col-lg-2 icon"><img src="/images/demo_page/event.png"><p>Exhibitions/Expo</p></div>
            </div>
        </div>
    </div>

</body>
</html>