<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/organiser_login.css">
    <link rel="stylesheet" href="/stylesheets/organiser_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    <div class="container-fluid">

        <div class="col-lg-12">

            <div style="margin-top:150px; display: flex; justify-content: center; align-items: center;">

                <form id="form1">

                    <div class="login_msg" style="text-align: center;"></div>

                    <div><img style="width: 50px; margin: 20px auto; display: block;" src="/images/logo-only.png"
                            width="100%" height="100%" /></div>

                    <div class='col-lg-8 form-mobile'>

                        <div class="form-group" style="margin-top: 90px;">
                            <input type="password" name="password" id="password" placeholder="Enter User Id" required>
                        </div>

                        <button type="submit" id="submitbtn">Login</button>

                    </div>
                </form>

            </div>

        </div>
    </div>


    <script>
        var password;
        var obj = {}
        $("#form1").on('submit', function (e) {
            e.preventDefault();

            password = $("#password").val();
            // console.log("username : " + email + ", password : " + password);

            obj.user_id = password;
            $.ajax({
                type: 'POST',
                url: '/organiser_login',
                data: obj,
                success: function (result) {
                    console.log("succceeessss");

                    console.log(result)
                    if (result.status) {
                        // console.log(result.response.user.admin)
                        // alert(result.success)
                        $('.login_msg').html(`<h4 style="color:green;">${result.success}</h4>`);
                        $('.login_msg').css({ 'display': 'block' });
                        if (result.status) {
                            var id = result.response.user_id;
                            var username = result.response.username;
                            var room = result.response.streamName;
                            var user_id = result.response.user_id;
                            console.log(username + " : " + room + " : " + user_id);
                            // set username and room== stream_name here and used in chat2.ejs
                            sessionStorage.setItem('username', username);
                            sessionStorage.setItem('room', room);
                            // const socket = io.connect('http://localhost:3000/');
                            // const socket = io.connect(' https://live-stream1.herokuapp.com/');
                            // const socket = io.connect('http://localhost:3333/');
                            const socket = io.connect('https://vtour.inkincaps.com/');
                            
                            // Join chatroom
                            socket.emit('joinRoom', { username, room });
                            // usrname = result.response.user.name;
                            // console.log(usrname);
                            // sessionStorage.setItem("username",usrname);
                            setTimeout(function () {
                                $(':input').val('');
                                window.location.href = `organiser_page`; 
                                // window.location.href = `/organiser/${id}`
                            }, 1000)
                        }
                        else {
                            // usrname = result.response.user.name;
                            setTimeout(function () {
                                console.log(result);
                                // sessionStorage.setItem("username",usrname);
                                // $(':input').val('');
                                $('.login_msg').css({ 'display': 'none' });
                                // window.location.href = '/all_video'
                            }, 1000)
                        }


                    } else {
                        $('.login_msg').html(`<h4 style="color:red;">${result.error}</h4>`);
                        $('.login_msg').css({ 'display': 'block' });
                        setTimeout(function () {
                            $('.login_msg').css({ 'display': 'none' });
                        }, 3000)
                    }

                },
                error: function (error) {
                    console.log(error);
                    console.log("failure")
                    alert("User Id is not correct..")
                }
            })
        })
    </script>
</body>

</html>